* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --primary_color: #272829;
    --secondary_color: #E68369;
    --thirdy_color: #cb997e;
    --fontsite: Nunito;
}

/* untility*/

@font-face {
    font-family:cute;
    src: url(font/web_font.otf);
}

body {
    font-family: Nunito;
    background-color: var(--primary_color);
}

.nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 30px 50px;
}

.nav .logo {
    font-size: 3rem;
    color:white;
    
}

.nav .pages ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 5%;
    
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.7rem;

}

li a:hover {
    border-bottom: .2cap solid var(--secondary_color);
    color: var(--secondary_color);
}

.intro {
    width: 100%;
    height: 70vh;
    display: flex;
    margin-top: 75px;
    padding: 60px;
    padding-left: 20%;
    justify-content: center;
}

.myimg {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 40px;
    }
    
}


.intro .description {
    margin-top: 3%;
    width: 60%;
    font-size: 2rem;
    color:  white;
    text-align: justify;
    padding: 0 75px;
    display: block;

}

.intro .description .Leo {
    transition: .3s;
    font-size: 6rem;
}

.intro .description .Leo:hover{
    background-color: var(--secondary_color);
    border-radius: 10px;
    color: black;
    font-size: 8rem;
    padding: 5px;
    margin: 10px;
}

.programmer {
    color: var(--secondary_color);
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    min-width: 300px;
}

.description .programmer::before {
    content: "Programmer";
    color: var(--secondary_color);
    animation: words 20s infinite;
}

.description .programmer::after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 8px);
    background-color: var(--primary_color);
    border-left: 8px solid white;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #27282900;
    }
}

@keyframes words {
    0%,20%{

        content: "Frontend-Developer";

    }
    21%,40%{

        content: "Web-Developer";

    }
    41%,60%{

        content: "Electronic-Engineer";

    }
    61%,80%{

        content: "Network-Engineer";

    }
    81%,100%{

        content: "Backend-Developer";

    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
    
}

.resumebtn {
    margin-top: 7%;
}

.resbtn {
    width: 300px;
    height: 60px;
    position: relative;
    color: white;
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: transparent;
    border:3px solid var(--secondary_color);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-out;

}

.resbtn:hover{
    color: var(--primary_color);
    box-shadow: 0 0 30px var(--secondary_color);
}

.resbtn .resume {
    color: var(--secondary_color);
}

.resbtn::before {
    content: "";
    width: 0;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
    position:absolute;
    background-color: white;
    transition: .3s;

}

.resbtn:hover::before {
    width: 100%;
    background-color: white;
}



.icons {
    bottom: ;
    display: flex;
    gap: 30px;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    justify-content: end;
    align-items:end;

}

.icons a {
    font-size: 2.3rem;
    position:relative;
    text-decoration:none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid var(--secondary_color);
    color: var(--secondary_color);
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}

.icons a:hover {
    color: var(--primary_color);

}

.icons a::before {
    content: "";
    left: 0;
    z-index: -1;
    position: absolute;
    background-color: white;
    width: 0%;
    height: 100%;
    transition: 0.3s;
}

.icons a:hover::before {
    width: 100%;
    background-color: white;
}

/*--------------Aboutme----------------------*/
.myspec {
    font-family: var(--fontsite);
    width: 100%;
    height: 30vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #EEF7FF;
}

.myspec h1 {
    font-size: 2.8rem;
    font-weight: bolder;
    color: var(--primary_color);
    text-align: center;
}

.myspec .shortme {
    font-size: 1.4rem;
    text-align: center;
    position: relative;


}

.fullabout {
    width: 100%;
    height: 60vh;
    background-color:#EEF7FF ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fullabout .components {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.components .gradpic {
    object-fit: contain;
    width: 40%;
    height: auto;
}

.components .moreinfo {
    width: 700px;
    text-align: justify;
    height: auto;
    font-size: 1.6rem;
    background-color: var(--primary_color);
    color: white;
    padding: 30px;
    border-radius: 30px;
    font-family: var(--fontsite);
    line-height: 50px;
}

/*------------------------------------------*/




/*--------------footer----------------------*/

footer {
    font-family: var(--fontsite);
    width: 100%;
    height: 40vh;
}

footer .feet {
    width: 100%;
    height: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.flogo {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
}

.flogo .footlogo {
    margin-top: 20%;
    font-size: 4rem;
}

.lowerbar {
    width: 30%;
    height: 90%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: var(--primary_color);
    border-radius: 20px;
    overflow: hidden;
    gap: 70px;
}

.lowerbar h1 {
    font-size: 2.6rem;
    text-align: center;
}

.lowerbar input {
    font-size: 2rem;
}

.info {
    display:flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.info input {
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 3px solid var(--secondary_color);
}

.info input::placeholder {
    text-align: center;
    font-weight: bold;
}

.info #Message {
    width: 400px;
    color: white;
    text-align: justify;
    font-size: 1.6rem;
    font-family: var(--fontsite);
    background-color: transparent;
    border: 3px solid var(--secondary_color);
    border-radius: 10px;
    height: 60px;
    transition: .5s ease-out;
    resize: none;
}

.info #Message:focus {
    height: 180px;
}

#Message::placeholder {
    text-align: center;
}

.info .submitbtn {
    font-family: var(--fontsite);
    font-weight: 1.3px;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 230px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--secondary_color);
    font-size: 1.6rem;
    color: white;
    border-radius: 40px;
    transition: .2s;
    cursor: pointer;
}

.info .submitbtn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px var(--secondary_color);

}

.lowerbar .footcby {
    font-family: var(--fontsite);
    font-size: 1.2rem;
    padding: 10px 0;
}

/*-------------------------------------------*/


@media (max-width: 1000px) {

    .nav {
        height: 20%;
        position:relative;
    }

    .nav .logo {
        font-size: 1.2rem;
    }

    .pages li {
        font-size: .8rem;
    }

    .intro {
        margin-top: 40px;
        height: 60%;
        display: inline-flex;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }

    .intro .myimg {
        width: 50%;
        height: 50%;
        object-fit: contain;
        border-radius: 20px;
    }

    .intro .description {
        width: 100%;
        height: auto;
        font-size: 1.3rem;
    }

    .intro .description .Leo:hover {
        font-size: 2.3rem;
    }

    .icons {
        justify-content: center;
        align-items: center;
        
    }
  }

@media (max-width: 300px) {
    .nav {
        height: 10%;
        position:relative;
    }

    .nav .logo {
        font-size: .6rem;
    }

    .pages li {
        font-size: .4rem;
    }

    .intro {
        margin-top: 30px;
        height: 30%;
        display: inline-flex;
        flex-direction: column;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }

    .intro .myimg {
        width: 70%;
        height: auto;
        object-fit: contain;
    }

    .intro .description {
        width: 300px;
        height: auto;
        font-size: .6rem;
    }

    .icons a {
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        
    }

    .description .h1 {
        font-size: 1.2rem;
    }

}
/*Login page */

.userinfo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/call_log.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.loginbox {
    position: relative; 
    background-color: transparent;
    border: 3px solid black;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(1em);
        backdrop-filter: blur(.3em);
    width: 500px;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.loginbox .back_home {
    font-size: 1em;
    transition: .2s;
    position: relative;
}

.loginbox .back_home:hover {
    font-size: 1.3em;
}

.back_home a {
    text-decoration: none;
    color: black;
}

.back_home i {
    margin-right: 5px;
}

.loginbox .logla {
    text-align: center;
    font-size: 2.23em;
}

.loginbox .param input {
    padding-left: 5px;
    padding-right: 60px;
    font-size: 1.65em;
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid black;
}

.loginbox .param ::placeholder {
    color: grey;
    font-family: cute;
}

.param i {
    position:absolute;
    right: 60px;
    margin-top: 3%;
    font-size: 1.5em;
}

.pass ::-ms-reveal {
    display: none;

}

.loginbox .checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 1.225em;
    margin-top: 6%;
}

.checkbox label input {
    margin: 3px;
    color: black;
}

.checkbox a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.checkbox a:hover {
    text-decoration: underline;
    color: black;
}

.loginbox .btnlog {
    padding-bottom: 2%;
    width: 100%;
    height: 14%;
    margin-top: 13%;
    font-size: 1.7em;
    text-transform: capitalize;
    font-family: cute;
    border-radius: 20px;
    text-align: center;
    transition: .3s;
}

.btnlog:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.loginbox .register_link {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 1.1em;
    font-family: cute;
}

.register_link a {
    text-decoration: none;
    color: blue;
    transition: .3s;
}

.register_link a:hover {
    font-size: 1.4em;
    text-decoration: underline;
}
